<%- include('../partials/header.ejs')%>
<div class="container">
<% if (stories.length) { %>
    <% stories.forEach(story => { %>
    <div class="card">
        <div class="card-image">
            <!-- Display image dynamically using the story's image property -->
            <a href="/stories/<%= story.id %>">
                <img src="/images/<%= story.title.replace(" ", "") %>.png" alt="<%= story.title %>">
            </a>
        </div>
        <div class="card-content">
            <h3><%= story.title %></h3>
            <p class="condition">Condition: <%= story.condition %></p>
            <p class="status">Status: <%= story.active %></p>
            <div class="pricing">
                <span class="price">Price: $<%= story.price %></span>
                <span class="offers">Offers: <%= story.offers %></span>
            </div>
        </div>
    </div>
    <% }) %>
<% } else { %>
    <p>There are no items to display.</p>
<% } %>
</div>
<%- include('../partials/footer.ejs')%>
